@import "tailwindcss";

@theme {
  --color-primary: red;
  --color-secondary: blue;
  --color-tertiary: green;
  --color-background: black;
  --color-light-text: white;
  --color-dark-text: black;
  --color-error: red;
}
