@import "tailwindcss";

@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Geist", sans-serif;
}

:root {
  --primary-color: #54158e;
  --primary-bis-color: #54158e;
  --secondary-color: #ffffff;
  --white-color: #ffffff;
  --black-color: #000000;

  --background-color: #ebf0f4;
  --mask1-color: #ffffffcc;
  --mask2-color: #ffffff28;
  --card-color: #ffffff;
  --card-accent: #ffffff;
  --light-text-color: #000000;
  --dark-text-color: #3a3a3a;

  /* Skeletons */
  --dark-skeleton: #4d4d4d;
  --medium-skeleton: #a0a0a0;
  --light-skeleton: #b9b9b9;
}

[data-theme="dark"] {
  --primary-color: #8803ff;
  --primary-bis-color: #8903ff46;
  --secondary-color: #19191b;
  --white-color: #ffffff;
  --black-color: #0a0a0b;

  --background-color: #0a0a0b;
  --mask1-color: #000000de;
  --mask2-color: #00000065;
  --card-color: #19191b;
  --card-accent: #8803ff;
  --light-text-color: #ffffff;
  --dark-text-color: #818181;

  /* Skeletons */
  --dark-skeleton: #4d4d4d;
  --medium-skeleton: #a0a0a0;
  --light-skeleton: #b9b9b9;
}

@theme {
  --color-primary: var(--primary-color);
  --color-primary-bis: var(--primary-bis-color);
  --color-secondary: var(--secondary-color);
  --color-white: var(--white-color);
  --color-black: var(--black-color);

  --color-background: var(--background-color);
  --color-mask1: var(--mask1-color);
  --color-mask2: var(--mask2-color);
  --color-card: var(--card-color);
  --color-card-accent: var(--card-accent);
  --color-light-text-color: var(--light-text-color);
  --color-dark-text-color: var(--dark-text-color);

  /* Skeletons */
  --color-dark-skeleton: var(--dark-skeleton);
  --color-medium-skeleton: var(--medium-skeleton);
  --color-light-skeleton: var(--light-skeleton);
}
