:root {
  --primary-color: #ff0000;
  --secondary-color: #00ff00;
  --background-color: #000000;

  --light-text-color: #ffffff;
  --dark-text-color: #000000;
}

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--light-text-color);
}
